.img-hover-shadow {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .img-hover-shadow:hover {
    transform: scale(1.04); /* Slightly increase the size of the image */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* Add shadow */
    transition: 0.4s;
  }